* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Google Sans', 'Roboto', Arial;
}

:root {
    --color-black: rgb(15, 15, 15);
    --color-white: rgb(255, 255, 255);
    --color-dark-gray: rgb(133, 133, 133);
    --color-light-gray: rgb(211, 211, 211);
    --color-dark-gray-2: rgb(70, 70, 70);
    --color-active-button: rgb(21, 98, 222);
    --color-active-button-light: rgb(173, 205, 255);
    --color-alt-bg-color: rgb(247, 247, 245);
    --padding-x: 24px;
    --padding-y: 14px;
}

header {
    display: flex;
    flex-direction: column;
}

.header-bar {
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--padding-x);
    padding-right: var(--padding-x);
    padding-bottom: var(--padding-y);
    padding-top: var(--padding-y);
}

.header-bar h1 {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-black);
}

.header-bar a {
    text-decoration: none;
    color: var(--color-dark-gray-2);
    font-size: 14px;
}

@media (max-width: 769px) {
    .header-bar a {
        display: none;
    }
}

.header-bar a:hover {
    color: var(--color-black);
}


 .header-bar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

button {
    background-color: var(--color-white);
    padding: 10px 16px;
    font-size: 15px;
    border: 1px solid var(--color-light-gray);
    border-radius: 8px;
    cursor: pointer;
    transition: .15s;
}

button:hover {
    background-color: rgb(234, 234, 234);
    color: var(--color-black);
}

button:active {
    background-color: var(--color-light-gray);
    scale: 96%;
}

.active-button {
    background-color: var(--color-active-button);
    color: var(--color-white);
}

.active-button-light {
    background-color: var(--color-active-button-light);
    color: var(--color-active-button);
}

hr {
    border-top: .5px solid var(--color-light-gray);
}

.search-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: fit-content;
    background-color: var(--color-white);
    padding-top: 50px;
}

.search-section h1 {
    font-size: 36px;
    color: var(--color-black);
    font-weight: 500;
    text-align: center;
}

.search-section p {
    max-width: 500px;
    flex: 1;
    text-align: center;
    color: var(--color-dark-gray-2);
    line-height: 1.5rem;
}

.search-bar {
    display: flex;
    gap: 10px;
    padding-bottom: 25px;
}

.search-bar input {
    width: 320px;
    height: 40px;
    padding-left: .75rem;
    padding-right: .75rem;
    font-size: 16px;
    font-weight: 500;
    border: .5px var(--color-light-gray) solid;
    border-radius: .5rem;
    transition: .1s;
}

input:hover {
    border-color: rgb(168, 167, 167);
}

input:focus {
    outline: 3px solid rgba(137, 172, 255, 0.374);
    border-color: rgb(137, 172, 255);
}

.search-section hr {
    width: 100vw;
}

.filter-section {
    display: flex;
    flex-direction: column;
}

.filter-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--padding-x);
    padding-right: var(--padding-x);
    padding-top: 22px;
    padding-bottom: 22px;
}

.filters {
    display: flex;
    align-items: center;
}

.filter-items p {
    font-size: 12px;
    color: gray;
}

.filters button {
    margin-right: 8px;
}

.filters button:nth-child(2) {
    margin-left: 12px;
}

.featuredMembers {
    background-color: var(--color-alt-bg-color);
    padding-left: var(--padding-x);
    padding-right: var(--padding-x);
    padding-top: 26px;
    padding-bottom: 50px;
}

.featuredMembers-text {
    padding-bottom: 22px;
    font-size: 14px;
    color: var(--color-dark-gray);
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: .75px solid var(--color-light-gray);
    background-color: var(--color-white);
    padding: 25px;
    border-radius: .75em;
    transition: .2s;
}

.cards:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 12px rgba(83, 83, 83, 0.12);
}

.fm-cards {
    display: grid;
    width: max-width;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

@media (max-width: 1024px) {
   .fm-cards {
    grid-template-columns: 1fr 1fr;
   } 
}

@media (max-width: 769px) {
   .fm-cards {
    grid-template-columns: 1fr;
   } 
}


.user-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-weight: 500;
    font-size: 18px;
}

.nameTitle p:nth-child(1){
    color: var(--color-black);
    font-weight: 600;
}

.nameTitle p:nth-child(2){
    color: var(--color-black);
    font-weight: 200;
    font-size: 15px;
}

.role-tags {
    display: flex;
    gap: 12px;
    align-items: center;
}

.role-tags div {
    background-color: red;
    padding: 4px 12px;
    border-radius: 1.5rem;
    font-size: 14px;;
}

.followFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.followFooter p {
    font-size: 12px;
    color: var(--color-dark-gray);
}

